.token-style-token-12-regular
{
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
}

.token-style-token-12-semibold
{
  font-family: "Inter";
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0px;
}

.token-style-token-14-regular
{
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.token-style-token-14-semibold
{
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
}

.token-style-token-18-regular
{
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

.token-style-token-18-semibold
{
  font-family: "Inter";
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}

.token-style-token-24-regular
{
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0px;
}

.token-style-token-24-semibold
{
  font-family: "Inter";
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0px;
}

.token-style-token-48-regular
{
  font-family: "Inter";
  font-size: 48px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0px;
}

.token-style-token-48-semibold
{
  font-family: "Inter";
  font-size: 48px;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: 0px;
}

.token-style-token-64-regular
{
  font-family: "Inter";
  font-size: 64px;
  font-weight: 400;
  line-height: 78px;
  letter-spacing: 0px;
}

.token-style-token-64-semibold
{
  font-family: "Inter";
  font-size: 64px;
  font-weight: 600;
  line-height: 78px;
  letter-spacing: 0px;
}
