:root
{
  --token-0: 0;
  --token-12: 12;
  --token-12: 12;
  --token-12-regular3: {"fontFamily":"Inter","fontSize":12,"fontWeight":400,"lineHeightPx":18,"letterSpacing":0};
  --token-12-semibold: {"fontFamily":"Inter","fontSize":12,"fontWeight":600,"lineHeightPx":18,"letterSpacing":0};
  --token-14-regular: {"fontFamily":"Inter","fontSize":14,"fontWeight":400,"lineHeightPx":20,"letterSpacing":0};
  --token-14-semibold: {"fontFamily":"Inter","fontSize":14,"fontWeight":600,"lineHeightPx":20,"letterSpacing":0};
  --token-16: 16;
  --token-16: 16;
  --token-18-regular: {"fontFamily":"Inter","fontSize":18,"fontWeight":400,"lineHeightPx":24,"letterSpacing":0};
  --token-18-semibold: {"fontFamily":"Inter","fontSize":18,"fontWeight":600,"lineHeightPx":24,"letterSpacing":0};
  --token-20: 20;
  --token-20: 20;
  --token-24: 24;
  --token-24: 24;
  --token-24-regular: {"fontFamily":"Inter","fontSize":24,"fontWeight":400,"lineHeightPx":36,"letterSpacing":0};
  --token-24-semibold: {"fontFamily":"Inter","fontSize":24,"fontWeight":600,"lineHeightPx":36,"letterSpacing":0};
  --token-28: 28;
  --token-32: 32;
  --token-4: 4;
  --token-4: 4;
  --token-40: 40;
  --token-48: 48;
  --token-48-regular: {"fontFamily":"Inter","fontSize":48,"fontWeight":400,"lineHeightPx":58,"letterSpacing":0};
  --token-48-semibold: {"fontFamily":"Inter","fontSize":48,"fontWeight":600,"lineHeightPx":58,"letterSpacing":0};
  --token-64-regular: {"fontFamily":"Inter","fontSize":64,"fontWeight":400,"lineHeightPx":78,"letterSpacing":0};
  --token-64-semibold: {"fontFamily":"Inter","fontSize":64,"fontWeight":600,"lineHeightPx":78,"letterSpacing":0};
  --token-8: 8;
  --token-8: 8;
  --token-80: 80;
  --token-allowed: Allowed;
  --token-button: Button;
  --token-byewind: ByeWind;
  --token-date: Date;
  --token-email: byewind@twitter.com;
  --token-list-item: List Item;
  --token-phone: +852 19850622;
  --token-pick-a-date: Pick a date;
  --token-select: Select;
  --token-send: Send;
  --token-send-a-message: Send a message...;
  --token-sign-in-with-apple: Sign in with Apple;
  --token-sign-in-with-facebook: Sign in with Facebook;
  --token-sign-in-with-google: Sign in with Google;
  --token-snowui: SnowUI;
  --token-tag: Tag;
  --token-text: Text;
  --token-title: Title;
  --token-tool-tips: Tool Tips;
}

[data-theme="standard"]
{
  --token-12: 12;
  --token-16: 16;
  --token-20: 20;
  --token-24: 24;
  --token-28: 28;
  --token-4: 4;
  --token-40: 40;
  --token-48: 48;
  --token-8: 8;
  --token-0: 0;
  --token-32: 32;
  --token-80: 80;
}

[data-theme="english"]
{
  --token-allowed: Allowed;
  --token-button: Button;
  --token-byewind: ByeWind;
  --token-date: Date;
  --token-email: byewind@twitter.com;
  --token-list-item: List Item;
  --token-phone: +852 19850622;
  --token-pick-a-date: Pick a date;
  --token-select: Select;
  --token-send: Send;
  --token-send-a-message: Send a message...;
  --token-sign-in-with-apple: Sign in with Apple;
  --token-sign-in-with-facebook: Sign in with Facebook;
  --token-sign-in-with-google: Sign in with Google;
  --token-snowui: SnowUI;
  --token-tag: Tag;
  --token-text: Text;
  --token-title: Title;
  --token-tool-tips: Tool Tips;
}

[data-theme="chinese"]
{
  --token-allowed: 允许;
  --token-button: 按钮;
  --token-byewind: ByeWind;
  --token-date: 日期;
  --token-email: byewind@twitter.com;
  --token-list-item: 列表项;
  --token-phone: +852 19850622;
  --token-pick-a-date: 选择日期;
  --token-select: 选择;
  --token-send: 发送;
  --token-send-a-message: 发送消息...;
  --token-sign-in-with-apple: 苹果账号登录;
  --token-sign-in-with-facebook: 脸书账号登录;
  --token-sign-in-with-google: 谷歌账号登录;
  --token-snowui: SnowUI;
  --token-tag: 标签;
  --token-text: 文本;
  --token-title: 标题;
  --token-tool-tips: 工具提示;
}

[data-theme="expanded-4"]
{
  --token-12: 16;
  --token-16: 20;
  --token-20: 24;
  --token-24: 28;
  --token-28: 32;
  --token-4: 8;
  --token-40: 44;
  --token-48: 52;
  --token-8: 12;
  --token-0: 4;
  --token-32: 36;
  --token-80: 84;
}

[data-theme="expanded-8"]
{
  --token-12: 20;
  --token-16: 24;
  --token-20: 28;
  --token-24: 32;
  --token-28: 36;
  --token-4: 12;
  --token-40: 48;
  --token-48: 56;
  --token-8: 16;
  --token-0: 8;
  --token-32: 40;
  --token-80: 88;
}

[data-theme="condensed-4"]
{
  --token-0: 0;
  --token-12: 8;
  --token-16: 12;
  --token-20: 16;
  --token-24: 20;
  --token-32: 28;
  --token-4: 0;
  --token-8: 4;
  --token-80: 76;
  --token-28: 24;
  --token-40: 36;
  --token-48: 44;
}
