.token-style-token-heading-h1
{
  font-family: "Inter";
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
}

.token-style-token-body-regular
{
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.token-style-token-label-medium
{
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
}
