.token-style-token-body-lg
{
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}

.token-style-token-body-md
{
  font-family: "Inter";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.token-style-token-body-sm
{
  font-family: "Inter";
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}

.token-style-token-body-xs
{
  font-family: "Inter";
  font-size: 11px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
}

.token-style-token-label-lg
{
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
}

.token-style-token-label-md
{
  font-family: "Inter";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
}

.token-style-token-label-sm
{
  font-family: "Inter";
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
}

.token-style-token-label-xs
{
  font-family: "Inter";
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
}

.token-style-token-title-lg
{
  font-family: "Inter";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0px;
}

.token-style-token-title-md
{
  font-family: "Inter";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
}
